body {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 700px) {
    .IMAGE {
        /* display: flex;
    justify-content: center; */
        width: 80px;
        height: 50px;
        position: relative;
        left: 150px;
    }

    .heading {
        text-align: center;
        position: relative;
        left: -35px;
    }

    .form {
        /* display: flex;    */
        flex-direction: column;
    }


}


.IMAGE {
    /* margin: ; */
    display: flex;
    justify-content: center;
}

.heading {
    text-align: center;
}

.center_part {
    align-self: center;
    text-align: center;
}

.form {
    margin-left: 80px;
    /* margin to: 10px; */

}

.form1 {
    margin-left: -10px;

    /* margin-top: 10px; */
}

.input_text {
    padding: 11px !important;
    width: 400px;
    /* border-radius: 6px; */
    background-color: transparent;
    border-color: #8dcb37;
    border-radius: 5px;
    color: #666;
}

.input_text_1 {
    padding: 11px !important;
    width: 450px;
    background-color: transparent;
    border-color: #8dcb37;
    border-radius: 5px;
    color: #666;


}

.write {
    color: #0d6db7 !important;
}

/* .col-6 {
    display: flex;
    align-content: space-between;
} */

.address {
    margin-left: 80px;
    
}

.represend_the_address_feild {
    padding: 11px !important;
    background-color: transparent;
    border-color: #8dcb37;
    border-radius: 5px;
    color: #666;
    width: 885px;
}

/* .Sumbit_button{ */
/* padding: 11px !important; */
/* background-color: transparent; */
/* border-color: #8dcb37; */
/* border-radius: 5px; */
/* color: #666; */
/* width: 885px; */
/* }    */
.bu {
    cursor: pointer;
}

.submit {
    position: absolute;
    top: 90px;
    left: 18%;
    /* display: flex; */
    /* justify-content: center; */
}

.butoon {
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    left: 350px;
}

.login {
    position: relative;
    top: 80px;
    left: 400px;
    /* border:10px, 10px solid;  */
    border: 2px solid black;
    width: 300px;
    height: 300px;
    padding-left: 40px;
    background-color: white;
    border-radius: 10px;


}

.heading_of_admin_page {
    padding-left: 37px;
    /* background-image:url(./jessica-lewis-fJXv46LT7Xk-unsplash.jpg) ; */
}

/* .po{
    background-image:url(./jessica-lewis-fJXv46LT7Xk-unsplash.jpg) ;
} */
/* body{
    background-image:url(./jessica-lewis-fJXv46LT7Xk-unsplash.jpg) ;
/* } */
 /* #span1 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}
#span2 {
    position: relative;
    top: 0px;
    left: 90px;
    color: red;
}
#span3{
    color: red;
    position: relative;
    top: 0px;
    left: 90px;
    color: red; */ 

  /* margin-top: 1000px; */
  /* margin-left: 90px; */
/* width: 10px;
height: 10px; */
/* } */
/* 
#span4 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}

#span5 {
    color: red;
}

#span6 {
    position: relative;
    top: 90px;
    left: 100px;
    color: red;
}

#span7 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}
#span8 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}
#span9 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
 } */


 * {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    height: 750px;
}

.main {
    position: relative;
    left: 5px;
}

/* header */
.header {
    background-image: url("");
}

.header img {
    width: 250px;
    position: relative;
    top: 50px;
    left: 380px;
}

#qadeer550 {
    position: relative;
    top: 50px;
    left: 280px;
    font-family: 'Roboto', sans-serif;
}

.header p {
    position: relative;
    top: 50px;
    left: 390px;
}

#hr1 {
    position: relative;
    top: 50px;
}

/* form */
.form form {
    position: relative;
    top: 70px;
}

.form label {
    color: blue;
    position: relative;
    left: 100px;
}

.form input {
    position: relative;
    left: 100px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form input::placeholder {
    position: relative;
    left: 10px;
}

/* form1 */
.form1 form {
    position: relative;
    top: 70px;
}

.form1 label {
    color: blue;
}

.form1 input {
    position: relative;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form1 input::placeholder {
    position: relative;
    left: 10px;
}

/* form2 */
.form2 form {
    position: relative;
    top: 90px;
}

.form2 label {
    color: blue;
    position: relative;
    left: 100px;
}

.form2 input {
    position: relative;
    left: 100px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form2 input::placeholder {
    position: relative;
    left: 10px;
}

/* form3 */
.form3 form {
    position: relative;
    top: 90px;
}

.form3 label {
    color: blue;
}

.form3 input {
    position: relative;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form3 input::placeholder {
    position: relative;
    left: 10px;
}

/* form4 */
.form4 form {
    position: relative;
    top: 110px;
}

.form4 label {
    color: blue;
    position: relative;
    left: 100px;
}

.form4 input {
    position: relative;
    left: 100px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form4 input::placeholder {
    position: relative;
    left: 10px;
}

/* form5 */
.form5 form {
    position: relative;
    top: 110px;
}

.form5 label {
    color: blue;
}

.form5 input {
    position: relative;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

/* form6 */
.form6 form {
    position: relative;
    top: 130px;
}

.form6 label {
    color: blue;
    position: relative;
    left: 100px;
}

.form6 textarea {
    position: relative;
    left: 100px;
    width: 870px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form6 textarea::placeholder {
    padding-left: 10px;
}

.button button {
    position: relative;
    top: 150px;
    left: 100px;
    width: 870px;
}

/* validation */
#span {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}

#span1 {
    color: red;
}

#span2 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}

#span3 {
    color: red;
}

#span4 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}

#span5 {
    color: red;
}

#span6 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}


/* submit.html */
#qadeer {
    overflow: hidden;
}

.main23 {
    background-color: #4267B2 !important;
    height: 660px;
}

.submit23 {
    background-color: white;
    position: relative;
    top: 100px;
    left: 220px;
    width: 580px;
    height: 390px;
    border-radius: 10px;
}

.submit23 i {
    font-size: 140px;
    position: relative;
    top: 20px;
    left: 218px;
    color: #34B7F1;
}

#heading1 {
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 40px;
    left: 188px;
    color: #3f729b;
}

.submit23 h3 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    top: 20px;
    left: 70px;
    color: #3f729b;
}

.submit23 h4 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    left: 180px;
}

.submit23 h4 a {
    text-decoration: none;
    position: relative;
    left: 50px;
}

.submit23 h4 a:hover {
    text-decoration: underline;
}

.iron {
    position: relative;
    left: -5px;
}



@media (min-width: 320px) and (max-width: 480px) {
    .header img {
        position: relative;
        left: 80px;
        width: 200px;
    }

    #qadeer550 {
        position: relative;
        left: 70px;
        top: 60px;
        font-size: 20px;
    }

    .header p {
        position: relative;
        left: 90px;
        top: 60px;
        font-size: 12px;
    }

    #hr1 {
        width: 340px;
    }

    .form label {
        position: relative;
        left: 0px;
    }

    .form input {
        position: relative;
        left: 0px;
        width: 340px;
    }

    #label1 {
        position: relative;
        top: 10px;
    }

    #fatherName {
        position: relative;
        top: 10px;
        width: 340px;
    }

    .fatherName {
        position: relative;
        top: 10px;
        width: 340px !important;
    }

    .form2 label {
        position: relative;
        left: 0px;
    }

    .form2 input {
        position: relative;
        left: 0px;
        width: 340px;
    }

    .form4 label {
        position: relative;
        left: 0px;
    }

    .form4 input {
        position: relative;
        left: 0px;
        width: 340px;
    }

    #address {
        position: relative;
        left: 0px;
        width: 340px;
    }

    #label2 {
        position: relative;
        left: 0px;
    }

    .button button {
        position: relative;
        left: 0px;
        width: 340px;
    }

    #white {
        height: 900px;
    }

    #span {
        position: relative;
        left: 5px;
    }

    #span1 {
        position: relative;
        left: 5px;
        top: 10px;
    }

    #span2 {
        position: relative;
        left: 5px;
    }

    #span3 {
        position: relative;
        left: 5px;
        top: 10px;
    }

    #span4 {
        position: relative;
        left: 5px;
    }

    #span5 {
        position: relative;
        left: 5px;
        top: 10px;
    }

    #span6 {
        position: relative;
        left: 5px;
    }

    /* submit.html */
    .main23 {
        height: 670px;
        overflow: hidden;
    }

    .submit23 {
        position: relative;
        top: 130px;
        left: 0px;
        width: 350px;
        height: 320px;
        border-radius: 10px;
    }

    .submit23 i {
        font-size: 120px;
        position: relative;
        left: 122px;
    }

    #heading1 {
        position: relative;
        left: 115px;
    }

    .submit23 h3 {
        position: relative;
        left: 38px;
        font-size: 18px;
    }

    .submit23 h4 {
        position: relative;
        left: 90px;
    }
}
#fullName{
    position: relative;
    left: 9px;
}