body{
    margin: 0px;
    padding: 0px;
}
.IMAGE{
    /* margin: ; */
    display: flex;
    justify-content: center;
}
.heading{
    text-align: center;
}
.center_part{
  align-self: center;
  text-align: center;
}
.form{
    margin-left: 80px;
    /* margin to: 10px; */

}
.form1{
    margin-left: -10px;
    /* margin-top: 10px; */
}
.input_text{
    padding: 11px !important;
    width: 400px;
    /* border-radius: 6px; */
background-color: transparent;
    border-color: #8dcb37;
    border-radius: 5px;
    color: #666;
}
.input_text_1{
    padding: 11px !important;
    width: 450px;
    background-color: transparent;
    border-color: #8dcb37;
    border-radius: 5px;
    color: #666;

}
.write{
    color:  #0d6db7!important;;
}